.serviceDetailsBanner {
  position: absolute;
  bottom: 0;
}
.galleryImg {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.servicesDetails {
  overflow: hidden;
}
.icon-Goldenrod {
  color: rgb(255, 217, 0);
}
.serviceDetailsBanner {
  background: #1d2636ce;
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
